/* Box-sizing ve kenar boşluklarını sıfırla */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Varsayılan font ve renkleri ayarla */
html {
  scroll-behavior: smooth;
  font-size: 16px; /* Kullanıcı dostu rem birimi için */
}

body {
  line-height: 1.5;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Başlık ve metin stilleri */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
}

p {
  margin-bottom: 1rem;
}

/* Liste stillerini kaldır */
ul,
ol {
  list-style: none;
}

/* Linkleri varsayılan hale getir */
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

/* Form ve buton stilleri */
button,
input,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

button {
  cursor: pointer;
}

/* Resimlerin taşmasını engelle */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Tablolar için varsayılan sıfırlama */
table {
  width: 100%;
  border-collapse: collapse;
}

/* Varsayılan scrollbar stilleri */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Flexbox düzenini sıfırla */
section,
article,
aside,
nav,
header,
footer {
  display: block;
}
.active{
    color: red;
}